.list {
    margin: 20px 0;
}

.story {
    padding: 10px 0;

    .story-name {
        font-weight: bold;
        font-size: 16px;
    }
    .task-count {
        float: right;
        font-size: 12px;
    }
}
